html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

ul, li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

span {
  z-index: 10;
}

.app {
  display: flex;
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
}

.gridjs-wrapper {
  overflow-x: hidden;
}

.gridjs-search {
  float: right;
}

.gridjs-tr:hover {
  .grid-td {
    background-color: #bfffbf;
  }
}

.grid-td {
  cursor: pointer;
}

.sett {
  padding: 50px;
  background-color: #000;
}